// ------------------------------------------
// * 主题色
// ------------------------------------------
$theme-primary: #1D456F;
$theme-primary-neutral: #09315C;
$theme-primary-light: #022A58;
$theme-primary-info: #F6E571;

// ------------------------------------------
// * 功能色
// ------------------------------------------
// $theme-success: ;
// $theme-info: ;
// $theme-warning: ;
// $theme-danger: ;

// ------------------------------------------
// * 文本颜色
// ------------------------------------------
$text-color-primary: #FFFFFF;
$text-color-light: #002D60;
$text-color-info: #F6E571;
